
<p id="home_blabla" class="ui segment">
    D'après son nom, j'ai fait ce projet pour me presenter, et aussi pour pratiquer du node Js. En faites, c'est mon premier projet en node js.    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, quia nisi neque facere ipsum aut quod hic quaerat cupiditate nemo excepturi nostrum, officia sunt dolores doloribus iure deserunt velit tenetur consequatur est. Nulla incidunt vel, assumenda consectetur provident quas quo doloribus, aliquid dolorum in iusto facilis repellendus, neque expedita consequuntur?
</p>


