<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
    <div class="ui large menu">
        <h1 class="titre">Qui suis-je?</h1>
        <div class="liens">
            <a>
                Acceuil
            </a>
            <a>
                Moi                
            </a>
            <a>
                Projets
            </a>
        </div>
    </div>
<div class="ui container">

<p id="home_blabla" class="ui segment">
    D'après son nom, j'ai fait ce projet pour me presenter, et aussi pour pratiquer du node Js. En faites, c'est mon premier projet en node js.    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, quia nisi neque facere ipsum aut quod hic quaerat cupiditate nemo excepturi nostrum, officia sunt dolores doloribus iure deserunt velit tenetur consequatur est. Nulla incidunt vel, assumenda consectetur provident quas quo doloribus, aliquid dolorum in iusto facilis repellendus, neque expedita consequuntur?
</p>






</div>

<div id="footer" class="ui divider horizontal">&copy;2021</div>

    <script src="/assets/jquery.js"></script>
    <script src="/assets/main.js"></script>
</body>
</html>