<div class="ui segment">

    <div class="ui header medium">Identité:</div>
    <div class="ui list divided">
        <div class="item">Nom: AMBININTSOA</div>
        <div class="item">Prénom: Rodolphino Noëlardau</div>
        <div class="item">Nationalité: Malagasy</div>
    </div>
    
    

</div>
<div class="ui segment">

    <div class="ui header medium">Les languages de programmation que que j'ai touché:</div>
    <div class="ui list divided">
        <div class="item">Javascript</div>
        <div class="item">PHP</div>
        <div class="item">Python</div>
        <div class="item">C</div>
    </div>
    
    

</div>