<p>En ce moment j'ai un grand projet en tête, mais j'suis encore en train de rassembler tout les compétences pour le réaliser à la perfection :)...Mais j'ai déjà réaliser plusieur ptit projet que <a href="https://github.com/Noelardau">vous pouvez checker ici</a>....</p>
